# deps
node_modules/

# builds
dist/
build/

# vite
apps/web/dist/

# nest
apps/api/dist/

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*

# test coverage
coverage/

# editor / os
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# cache
.cache/
*.tsbuildinfo